.container {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 144rem;
  padding-right: ($column-gap / 2);
  padding-left: ($column-gap / 2);

  @media(max-width: $sm) {
    padding-right: ($column-gap / 4);
    padding-left: ($column-gap / 4);
  }

}

.container-fluid {
  position: relative;
  display: block;
  width: 100%;
  padding-right: ($column-gap / 2);
  padding-left: ($column-gap / 2);

  @media(max-width: $sm) {
    padding-right: ($column-gap / 4);
    padding-left: ($column-gap / 4);
  }

}