/**
  * FONT'S SETTINGS
 */
$mainFonts: 'Roboto', sans-serif;
$altFonts: $mainFonts;

/**
  * RESPONSIVES BREAKPOINTS
 */
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1449.98px;
$xxl: 1919.98px;

/**
  * GRIDS
 */
$columns: 12;
$column-gap: 3rem;

/**
  * PLACEHOLDER
 */
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}