//Title
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 3rem;
  @media(max-width: $sm) {
    //  text-align: center;
  }
}

//Paragraph
p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

//FONT SIZE'S

h1, .h1 {
  font-size: 6rem
}

h4 {
  font-size: 2.4rem;
}

/*
h2, .h2 {
  font-size: 3.9rem
}

h3, .h3 {
  font-size: 3.1rem
}

h4, .h4 {
  font-size: 2.5rem
}

h5, .h5 {
  font-size: 2rem
}

h6, .h6 {
  font-size: 1.6rem
}
*/

//LINK
a,
button,
input {
  transition: .2s $animItemDefault;
}


/**
  * TEMPLATE
 **/

.typo__heading--big {
  font-size: 5rem;
  margin-bottom: 6rem;
  letter-spacing: -.1rem;
  font-style: italic;
  text-align: center;
  color: $blue;
}

.o-txt__light {
  color: white;
}