/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: $brand-primary $gray-lighter;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: $gray-lighter;
}

*::-webkit-scrollbar-thumb {
  background-color: $brand-primary;
  border-radius: 25px;
  border: 2px solid $gray-lighter;
}