.c-videos {
  position: relative;
  display: block;
  width: 100%;

  iframe,
  video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}